.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/qq-little_copycat.iml
.idea/uiDesigner.xml
.idea/vcs.xml
out/production/QQ/com/qq/client/model/QqClientConService.class
out/production/QQ/com/qq/client/model/QqClientUser.class
out/production/QQ/com/qq/client/tools/ClientConServerThread.class
out/production/QQ/com/qq/client/tools/ManageClientConServerThread.class
out/production/QQ/com/qq/client/tools/ManageQqChar.class
out/production/QQ/com/qq/client/tools/ManageQqFriendList.class
out/production/QQ/com/qq/client/view/QqChar.class
out/production/QQ/com/qq/client/view/QqClientLogin.class
out/production/QQ/com/qq/client/view/QqFriendList.class
out/production/QQ/com/qq/common/Message.class
out/production/QQ/com/qq/common/MessageType.class
out/production/QQ/com/qq/common/User.class
out/production/QQ/com/try01/Client.class
out/production/QQ/com/try01/Server.class
out/production/QQ/com/try02/Client2.class
out/production/QQ/com/try02/Server2.class
out/production/QQ/com/try03/Client3/model/ClientUser.class
out/production/QQ/com/try03/Client3/model/ConServer.class
out/production/QQ/com/try03/Client3/model/MsgThread.class
out/production/QQ/com/try03/Client3/tools/ChatManger.class
out/production/QQ/com/try03/Client3/tools/ListManger.class
out/production/QQ/com/try03/Client3/view/.fuse_hidden00000af700000005
out/production/QQ/com/try03/Client3/view/.fuse_hidden00000c5900000001
out/production/QQ/com/try03/Client3/view/Chat$1.class
out/production/QQ/com/try03/Client3/view/Chat.class
out/production/QQ/com/try03/Client3/view/List$1.class
out/production/QQ/com/try03/Client3/view/List.class
out/production/QQ/com/try03/Client3/view/Login.class
out/production/QQ/com/try03/common/QqMessage.class
out/production/QQ/com/try03/common/QqUser.class
out/production/QQServer/com/try03/common/Message.class
out/production/QQServer/com/try03/common/User.class
out/production/QQServer/com/try03/Server3/model/.fuse_hidden00000acd00000004
out/production/QQServer/com/try03/Server3/model/MyServer.class
out/production/QQServer/com/try03/Server3/model/MyThread.class
out/production/QQServer/com/try03/Server3/tools/threadManger.class
out/production/QQServer/com/try03/Server3/view/Display.class
out/production/QQServer/META-INF/MANIFEST.MF
